body {
  margin: 0;
  background-color: aquamarine;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#canvasContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2em;
  padding: 2em;
}

p {
  font-size: large;
  font-weight: 800;
}

.hidden {
  visibility: hidden;
}
